%div{data: {role: 'page', url: '/groups/'}}
	.ui-bar-a.userinfo
		Inloggad som: Stefan Pettersson Noord
	%div{data: {role: 'content'}}
		.logo= image_tag('logo-top.png')
		%h2 Välj träningsgrupp
		%ul{data: {role: 'listview', inset: 'true'}}
			= render @groups
		%a{href: new_group_path, data: {role: 'button', icon: 'plus'}}Lägg till grupp

		%h2{style: "margin-top: 30px;"} Meddelanden från medlemsansvarig / styrelse
		.ui-body.ui-body-e
			%b 2012-11-14
			%br
			Glöm inte att du måste...
		.ui-body.ui-body-e
			%b 2012-11-12
			%br
			Glöm inte att du måste...
