- provide(:url, '/groups/')
%h2 Välj träningsgrupp
%ul{data: {role: 'listview', inset: 'true'}}
	= render @groups
- if current_user.admin?
	%a{href: new_group_path, data: {role: 'button', icon: 'plus'}}Lägg till grupp

%h2{style: "margin-top: 30px;"} Meddelanden från medlemsansvarig / styrelse
.ui-body.ui-body-e
	%b 2012-11-23
	%br
	Hej. Nu kör vi igång närvaroappen. För er som är uppe i Funäs på familjelägret så finns jag på plats för att svara på frågor och funderingar.
	%br
	/Stefan

%div{style: "margin-top:20px;"}
	=button_to "Logga ut", signout_path, method: :delete, data: {role: 'button', theme: 'r'}
