- provide(:url, '/groups/')
%h2 V채lj tr채ningsgrupp
%ul{data: {role: 'listview', inset: 'true'}}
	= render @groups
- if current_user.admin?
	%a{href: new_group_path, data: {role: 'button', icon: 'plus'}}L채gg till grupp

%h2{style: "margin-top: 30px;"} Meddelanden fr책n medlemsansvarig / styrelse
- @messages.each do |m|
	.ui-body.ui-body-e
		%b #{l(m.updated_at, format: "%Y-%m-%d").capitalize}
		%br
		= m.text.gsub(/\n/, '<br>').html_safe

- if current_user.admin?
	%a{href: messages_path, data: {role: 'button'}}Hantera meddelanden


%div{style: "margin-top:20px;"}
	=button_to "Logga ut", signout_path, method: :delete, data: {role: 'button', theme: 'r'}
