%div{data: {role: 'page', url: '/groups/'}}
	.ui-bar-a.userinfo
		Inloggad som: Stefan Pettersson Noord
	%div{data: {role: 'content'}}
		.logo= image_tag('logo-top.png')
		%h2 Skapa ny grupp

		= render 'form'
