%div{data: {role: 'page', url: '/groups/'}}
	.ui-bar-a.userinfo
		Inloggad som: Stefan Pettersson Noord
	%div{data: {role: 'content'}}
		.logo= link_to image_tag('logo-top.png'), "/groups", 'data-direction' => 'reverse'
		%h2 Skapa ny grupp

		= render 'form'
