%h3{style: "margin-bottom: 20px;"}Välj träningstillfälle
%ul{data: {role: 'listview', inset: 'true'}}
  - @practices.each do |practice|
    %li
      %a{href: edit_group_practice_path(@group, practice)}
        #{practice.date.strftime("%A %Y-%m-%d")}

%a{href: new_group_practice_path, data: {role: 'button', icon: 'plus'}}Lägg till träning
