- provide(:url, "/groups/#{@group.id}/members/")
%h3{style: "margin-bottom: 20px;"}Alla medlemmar i gruppen
%ul{data: {role: 'listview', inset: 'true', filter: 'true'}}
  - @members.each do |member|
    %li
      %a{href: group_member_path(@group, member)}
        #{member.name} (-#{member.birthyear.strftime("%y")})

- if current_user.admin?
  %a{href: new_group_member_path, data: {role: 'button', icon: 'plus'}}Lägg till medlem